.page{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.box1
{
    align-items: center;
    border: 5px solid yellowgreen;
    background-color: black;
    text-align: center;
    margin-left: 470px;
    line-height: 5;
    padding: 1%;
    margin-top: 1%;
    
}

.deltarune{
    display: block; margin-left: auto; margin-right: auto; width: 35%;
}

.Intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2
{
    border: 5px solid yellowgreen;
    border-bottom: 3px solid yellowgreen;
    background-color: black;
    height: 40px;
    width: 90%;
    text-align: center;
    line-height: 2;
    padding: 1%;
    
}

.box3
{
    border: 5px solid yellowgreen;
    border-top: 2px solid yellowgreen;
    background-color: black;
    height: 40px;
    width: 90%;
    text-align: center;
    line-height: 2;
    padding: 1%;
}

.box4
{
    border: 5px solid yellowgreen;
    border-top: 2px solid yellowgreen;
    background-color: black;
    height: 40px;
    width: 90%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 2;
    padding: 1%;
}

.boxback
{
    margin-left:2%;
    background-color: #080707;
    height: fit-content;
    text-align: center;
    line-height: 2;
    padding: 1%;
    float: right;
    margin-right: 475px;
    margin-top: 1%;
    
}

.ralsei{
    display:flex;
    flex-direction: row;
    padding-bottom: 3%;
    margin-right: 10%;
}

.text{
    padding-left:5%;
}

.space
{
    white-space: pre-line;
    white-space: nowrap;
}

@media(max-width:1740px){

    .deltarune{
        width:70vw;
    }

    .box1{
        padding-right:10%;
    }



    .Intro{
        width:40vw;
    }

    .ralsei_pfp{
        width:60%;
        height:60%;
    }

    .text{
        width:100%;
        height:60%;
    }

    .workPFP{
        width: 50%;
        height: 41.655%;
    }

}

@media(max-width:680px){
    .Intro{
        width:45vw;
    }

    .text{
        width:90%;
    }

    .ralsei_pfp{
        width:40%;
        height:40%;
    }
}