@font-face {
  font-family: "DeterminationMono";
  src: 
       url("determination.ttf") format("woff");
}

.Header{
    font-family: "DeterminationMono", sans-serif;
    color: white;
    text-align: center;
    font-weight: 400;
    font-style: normal;

}
.page{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#other_projs{
    font-size:1em;
    margin:9%;
}

.box1
{
    align-items: center;
    border: 5px solid yellowgreen;
    background-color: black;
    width: 33%;
    text-align: center;
    margin-left: 20%;
    padding: 1%;    
    height: 50%;
    align-items: center;
    min-width: 240px;
    width: 33%;
}

.Intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2
{
    border: 5px solid yellowgreen;
    border-bottom: 3px solid yellowgreen;
    background-color: black;
    height: 40px;
    width: 90%;
    text-align: center;
    line-height: 2;
    padding: 1%;
    padding-right:9%;
}

.box3
{
    border: 5px solid yellowgreen;
    border-top: 2px solid yellowgreen;
    background-color: black;
    height: 40px;
    width: 90%;
    text-align: center;
    line-height: 2;
    padding: 1%;
    padding-right:9%;
}

.box4
{
    border: 5px solid yellowgreen;
    border-top: 2px solid yellowgreen;
    background-color: black;
    height: 40px;
    width: 90%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 2;
    padding: 1%;
    padding-right:9%;
}

.boxback
{
    margin-left:2%;
    background-color: #080707;
    height: fit-content;
    text-align: center;
    line-height: 2;
    padding: 1%;
    float: right;
    padding-right:1.3%;
    margin-right: 475px;
    margin-top: 1%;
    
}

.space
{
    white-space: pre-line;
    white-space: nowrap;
}

.barrier{
    border: 1px solid #9acd32;
    margin-bottom:2%;
}




.Images{
    width:90%;
    
}

.text{
    width:90%;
}

@media(max-width:1740px){
    .Intro h1{
        font-size:24px;
        line-height: 1;
    }

    .box1{
        padding-right:1%;
        margin-left: 40%;
        min-width: 600px;        
    }

    .text{
        width:100%;
        height:40%;
    }

    .box1{
        width:50%;
    }

    .Images{
        width: 100%;
        height:22%;
    }


}


@media(max-width:900px){
    .box1{
        padding-right:1%;
        margin-left: 90%;
        min-width: 50%;
    }
}

@media(max-width:680px){
    .box1{
        padding-right:1%;
        margin-left: 80%;
        min-width: 50%;
    }
}

@media(max-width:590px){
  
    .box1{
        margin-left: 95%;  
    }
}


@media(max-width:520px){
  
    .box1{
        margin-left: 123%;  
    }
}